<template>
    <div class="login_wrap">
        <div class="div_login">
          <div class="div_title">
             <img class="img_logo" src="../../assets/image/logo1.png"/>
             <div class="logo_title">
               <div style="height: 50px;font-size: 32px;">江西省农村信用社（农商银行）</div>
               <div style="height: 24px;">JIANG XI RURAL UNION & RURAL COMMERCIAL BANK</div>
             </div>
           </div>
          <div class="login_name">
             <div class="div_name">大数据综合应用服务平台</div>
           </div>
          <div class="div_line"></div>
          <div class="div_op">
             <el-input class="login_txt" placeholder="请输入用户名"></el-input>
             <el-input class="login_txt" placeholder="请输入密码"></el-input>
             <el-input class="login_txt" style="width:150px;" placeholder="请输入验证码"></el-input>
             <span class="code_img">HD4s</span>
             <button class="btn_login" @click="login">登录</button>
          </div>
        </div>
    </div>
</template>

<script type="text/javascript">

    export default {
      name: 'login',
      data() {
        return {
           name:'',
           password:'',
           code:'',
           Code:'',
        }
      },
      mounted() {
      },
      methods: {
        login() {
           this.$router.push({path: '/home'});
        },
      },
      components: {}
    }
</script>

<style lang="scss" scoped>
    .login_wrap {
      width: 100%;
        height: 100vh;
        background: url("../../assets/image/loginbg.jpg") no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        .div_login {
            margin: 0 auto;
            width: 700px;
            height: 300px;
            border: 1px solid #3c455c;
            border-radius: 5px;
            overflow: hidden;
            padding: 50px;
            background: rgba(43, 52, 61,.6);
            box-shadow: 0px 5px 15px 2px rgba(0,0,0,.6);
        .img_logo {
          float: left;
          height: 74px;
          margin-left: 60px;
        }
        .logo_title {
          float: left;
          color: #aca0a0;
          margin-left: 15px;
        }
        .login_name {
          float: left;
          color: #aca0a0;
          text-align: center;
          width: 41%;
          line-height: 40px;
          .div_name {
            font-size: 32px;
            margin-top: 80px;
            margin-left: 35px;
          }
        }
        .div_line {
          margin-top: 15px;
          float: left;
          border-left: 1px solid #aca0a0;
          height: 180px;
          width: 1px;
          margin-left: 30px;
        }
        .div_op {
          float: left;
          width: 48%;
          .login_txt {
            width: 300px;
            margin-left: 10px;
            margin-top: 20px;
          }
          .code_img {
            display: inline-block;
            margin-left: 20px;
            width: 100px;
            background-color: gray;
            height: 28px;
            color: black;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            cursor: pointer;
          }
          .btn_login
          {
            width: 300px;
            height: 35px;
              background: rgba(40, 43, 47, 0.6);
              border: 1px solid #434955;
            border-radius: 5px;
            margin-top: 15px;
            margin-left: 10px;
            color: #fff;
          }
            .btn_login:hover{
                background: rgba(0,0,0,.3);
            }
        }
      }


    }
    /deep/ .el-input__inner {
      height: 35px;
      line-height: 35px;
        background: rgba(40, 43, 47,.3);
        border:1px solid #434955
    }
    /deep/ input.el-input__inner:focus {
        border: 1px solid #aca0a0;
        background: rgba(0,0,0,.3);
    }
</style>
