<template>
    <div class="wrap">
        <logoheader></logoheader>
        <div class="creditctrl_wrap">
            <headertab :curindex="cindex"></headertab>

            <p style="height: 5px;background: #3a8ee6;width: 1280px;margin: 0 auto;margin-top: 15px"></p>
            <div class="creditctrl_content">
                <div v-show="isShowLeft" class="contentleft">
                    <div class="left_title">信息核验服务</div>
                    <div class="left_content">
                        <ul>
                            <li v-for="(item,index) in dataList" @click="getDetail(item)">
                                {{item}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="contentright">
                    <div class="right_title">
                        当前位置 / 联通风控产品 / {{titleName}}
                    </div>
                    <div class="right_content">
                        <div class="content_info">
                            <img class="infoimg" src="../../assets/image/elimg.png"/>
                            <div class="infoname">
                                <div class="info_title">{{titleName}}</div>
                                <div class="info_detail">验证用户姓名、手机号、证件号是否一致</div>
                            </div>
                        </div>
                        <div class="content_detail">
                            <el-form ref="form" class="formdetail" :model="form" label-width="80px">
                                <el-form-item label="手机号码">
                                    <el-input class="formvalue" v-model="form.name"></el-input>
                                </el-form-item>
                                <el-form-item label="证件类型">
                                    <el-input class="formvalue" v-model="form.name"></el-input>
                                </el-form-item>
                                <el-form-item label="证件号码">
                                    <el-input class="formvalue" v-model="form.name"></el-input>
                                </el-form-item>
                                <el-form-item label="用户姓名">
                                    <el-input class="formvalue" v-model="form.name"></el-input>
                                </el-form-item>
                                <el-form-item label="机构代码">
                                    <el-input class="formvalue" v-model="form.name"></el-input>
                                </el-form-item>
                                <el-form-item label="机构秘钥">
                                    <el-input class="formvalue" v-model="form.name"></el-input>
                                </el-form-item>
                                <span class="form_op">
                   <button class="btn_save">查询</button>
                   <button class="btn_cancel">重置</button>
                 </span>
                            </el-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <commonfooter></commonfooter>
    </div>
</template>

<script type="text/javascript">
   import logoheader from '../../components/header.vue'
   import headertab from '../../components/headertab.vue'
   import commonfooter from '../../components/footer.vue'

   export default {
      name: 'creditctrl',
      data() {
         return {
            isShowLeft: true,
            cindex: 2,
            titleName: '',
            dataList: ['三要素验证', '手机号-证件核查', '手机号-姓名核查', '试试位置查询', '历史位置验证', '试试位置地市对比', '工作地验证', '居住地核验'],
            form: {
               name: '',
            },
         }
      },
      mounted() {
         this.titleName = this.dataList[0];
      },
      methods: {
         showLeft() {
            this.isShowLeft = !this.isShowLeft;
         },
         getDetail(name) {
            this.titleName = name;
         },
      },
      components: {logoheader, headertab, commonfooter}
   }
</script>

<style lang="scss" scoped>
    .wrap{
        .creditctrl_wrap {
            width: 1280px;
            margin: 0 auto;
            min-height: calc(100vh - 153px);
            overflow: hidden;
            .creditctrl_content {
                overflow: hidden;
                display: flex;
                height: 554px;
                .contentleft {
                    width: 200px;
                    margin-bottom: 20px;
                    /*min-height: calc(100vh - 253px);*/
                    background: #fff;
                    border: 1px solid #ccc;
                    border-top: none;
                    color: #000;
                    .left_title {
                        width: 100%;
                        height: 50px;
                        background-color: #3a8ee6;
                        color: #fff;
                        text-align: center;
                        font-size: 18px;
                        line-height: 50px;
                    }
                    .left_content {
                        width: 100%;
                        /*max-height: calc(100vh - 290px);*/
                        /*overflow-y: auto;*/
                    }
                    li {
                        padding-left: 20px;
                        line-height: 40px;
                        cursor: pointer;
                    }
                    li:hover {
                        background-color: #ecf5ff;;
                    }
                }

                .div_leftop {
                    width: 20px;
                    margin-top: 20px;
                    /*min-height: calc(100vh - 240px);*/
                    position: relative;
                    .left_op {
                        height: 50px;
                        width: 100%;
                        border: 1px solid blue;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        cursor: pointer;
                    }
                }

                .contentright {
                    margin-left: 30px;
                    width: 1000px;
                    float: left;
                    min-height: 457px;
                    .right_title {
                        width: 100%;
                        height: 50px;
                        line-height: 50px;
                        margin-left: 20px;
                        font-size: 16px;
                    }
                    .right_content {
                        .content_info {
                            width: 40%;
                            overflow: hidden;
                            float: left;
                            padding-top: 40px;
                            .infoimg {
                                float: left;
                                width: 150px;
                                height: 150px;
                            }
                            .infoname {
                                float: left;
                                width: 170px;
                                padding: 0 40px;
                                .info_title {
                                    font-size: 16px;
                                    margin-bottom: 5px;
                                }
                                .info_detail {

                                }
                            }
                        }
                        .content_detail {
                            width: 550px;
                            float: left;
                            border-left: 1px solid #e6e3de;
                            .formdetail {
                                margin-left: 30px;
                                width: 450px;

                                .form_op {
                                    margin-left: 100px;
                                    margin-bottom: 20px;

                                    .btn_search {
                                        margin-right: 50px;
                                        width: 120px;
                                        height: 35px;
                                        border: 1px solid #fff;
                                        border-radius: 5px;
                                    }
                                    .btn_reset {
                                        width: 120px;
                                        height: 35px;
                                        border: 1px solid #fff;
                                        border-radius: 5px;
                                    }
                                }
                            }
                            .formvalue {
                                /*width: 200px;*/
                            }
                        }
                    }
                }

            }
        }
    }

</style>
