<template>
    <div class="serverlog_wrap">
        <div class="title">管理员日志</div>
        <div class="query-form">
            <label class="item-label">姓名：</label>
            <el-input style="width: 120px;" class="item"
                      placeholder="请输入"
                      v-model="params.name"
                      clearable>
            </el-input>
            <label class="item-label">邮箱：</label>
            <el-input style="width: 200px;" class="item"
                      placeholder="请输入"
                      v-model="params.email"
                      clearable>
            </el-input>
            <label class="item-label">操作时间：</label>
            <el-date-picker class="p_date" type="date" v-model="params.sDate" placeholder="选择日期"
                            :picker-options="opSDate"></el-date-picker>
            <span>-</span>
            <el-date-picker class="p_date" type="date" v-model="params.eDate" placeholder="选择日期"
                            :picker-options="opEDate"></el-date-picker>
            <button class="searchbtn" @click="search" style="float: right"><i class="iconfont icon-icon-"></i>查询</button>
        </div>

        <div class="div_table">
            <table width="100%">
                <tr>
                    <th class="col_middle">操作者</th>
                    <th class="col_short">邮箱</th>
                    <th class="col_long">操作时间</th>
                    <th class="col_long">IP地址</th>
                    <th class="col_long">操作记录</th>
                </tr>
                <tbody class="tb_data">
                <tr v-if="dataList.length==0">
                    <td colspan="7">暂无数据</td>
                </tr>
                <tr :key="index" v-for="(item,index) in dataList">
                    <td>{{item.serverID}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.dateTime}}</td>
                    <td>{{item.supplier}}</td>
                    <td>{{item.dateTime}}</td>
                </tr>
                </tbody>
            </table>
            <div class="pagination">
                <span class="txt_total">共找到<span>{{total}}</span>条记录</span>
                <!--<div slot class="pagerBtn">确定</div>-->
                <div class="div_ctrl">
                    <el-pagination
                            @size-change="sizeChange"
                            @current-change="pageChange"
                            :page-size="pageSize"
                            :page-sizes="[10, 20, 50, 100]"
                            layout='sizes,prev, pager, next'
                            :total='total'
                            :current-page.sync="currentPage">
                    </el-pagination>
                </div>
            </div>
        </div>

    </div>
</template>

<script type="text/javascript">

   export default {
      name: 'managerlog',
      data() {
         return {
            params: {
               name: '',
               email:'',
               sDate: '',
               eDate: '',
            },
            opSDate: {
               disabledDate: (time) => {
                  if (this.params.eDate)
                     return time.getTime() > this.params.eDate;
                  else
                     return false;
               }
            },
            opEDate: {
               disabledDate: (time) => {
                  if (this.params.sDate)
                     return time.getTime() < this.params.sDate;
                  else
                     return false;
               }
            },
            dataList: [],
            pageSize: 10,
            total: 40,
            currentPage: 1,
         }
      },
      mounted() {
         this.getDataList();
      },
      methods: {
         search() {

         },
         getDataList() {
            this.dataList = [
               {
                  id: 1,
                  serverID: '李四',
                  name: 'lisi@xxxx.com',
                  account: 'zhasn@163.com',
                  supplier: '168.168.168.168',
                  dateTime: '2018-01-03 12:40',
               },
               {
                  id: 2,
                  serverID: '李四',
                  name: 'lisi@xxxx.com',
                  account: 'zhasn@163.com',
                  supplier: '168.168.168.168',
                  dateTime: '2018-01-03 12:40',
               },
            ];
//          this.total = this.dataList.length;
         },
         pageChange(val) {

         },
         sizeChange(val) {
            console.log(val);
         },
      },
      components: {}
   }
</script>

<style lang="scss" scoped>
    .serverlog_wrap {
        .p_date {
            width: 150px;
        }

        .div_table {
            margin-top: 20px;
        }

    }
</style>

