<template>
    <div class="userlist_wrap">
      <div class="title">服务列表</div>
      <div style="width: 100%;overflow: hidden;"> <div class="btn_add" @click="openEidt(null)">+ 添加</div></div>
      <div class="query-form">
        <label class="item-label">姓名：</label>
        <el-input style="width: 183px;" class="item"
                  placeholder="请输入"
                  v-model="params.name"
                  clearable>
        </el-input>
        <label class="item-label">邮箱：</label>
        <el-input style="width: 183px;" class="item"
                  placeholder="请输入"
                  v-model="params.name"
                  clearable>
        </el-input>
        <label class="item-label">状态：</label>
        <el-select style="width: 120px;" class="item"  v-model="params.stateId" placeholder="请选择">
          <el-option
            v-for="(item, index) in stateList"
            :key="index"
            :label="item.name"
            :value="item.value">
          </el-option>
        </el-select>
        <button class="searchbtn" @click="search"><i class="iconfont icon-icon-"></i>查询</button>
      </div>

      <div class="div_table">
        <table width="100%">
          <tr>
            <th class="col_middle">姓名</th>
            <th class="col_short">邮箱</th>
            <th class="col_long">状态</th>
            <th class="col_long">创建时间</th>
            <th class="col_long">最近登录时间</th>
            <th class="col_long">所属支行</th>
            <th class="col_long">创建人</th>
            <th class="col_long">操作</th>
          </tr>
          <tbody class="tb_data">
          <tr v-if="dataList.length==0">
            <td colspan="7">暂无数据</td>
          </tr>
          <tr :key="index" v-for="(item,index) in dataList">
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.state}}</td>
            <td>{{item.createTime}}</td>
            <td>{{item.loginTime}}</td>
            <td>{{item.bank}}</td>
            <td>{{item.createrName}}</td>
            <td>
              <span class="btn_op" @click="openEidt(item)">编辑</span>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="pagination">
          <span class="txt_total">共找到<span>{{total}}</span>条记录</span>
          <!--<div slot class="pagerBtn">确定</div>-->
          <div class="div_ctrl">
            <el-pagination
              @size-change="sizeChange"
              @current-change="pageChange"
              :page-size="pageSize"
              :page-sizes="[10, 20, 50, 100]"
              layout='sizes,prev, pager, next'
              :total='total'
              :current-page.sync="currentPage">
            </el-pagination>
          </div>
        </div>
      </div>
    </div>
</template>

<script type="text/javascript">
    export default {
        name: 'userlist',
        data() {
            return {
              params: {
                name: '',
                sDate: '',
                eDate: ''
              },
              stateList: [
                {
                  name: '全部',
                  value: 0
                },
                {
                  name: '禁用',
                  value: 1
                },
                {
                  name: '正常',
                  value: 2
                }
              ],
              opSDate: {
                disabledDate: (time) => {
                  if (this.params.eDate)
                    return time.getTime() > this.params.eDate;
                  else
                    return false
                }
              },
              opEDate: {
                disabledDate: (time) => {
                  if (this.params.sDate)
                    return time.getTime() < this.params.sDate;
                  else
                    return false
                }
              },
              dataList: [],
              pageSize: 10,
              total: 40,
              currentPage: 1
            }
        },
        mounted() {
          this.getDataList()
        },
        methods: {
          search() {

          },
          getDataList() {
            this.dataList = [
              {
                name: '张三',
                email: 'zhangsan@xxx.com',
                state: '禁用',
                createTime: '2018-03-06 11:01',
                loginTime: '2017-03-06 11:05',
                bank: '南昌支行',
                createrName: 'admin'
              }
            ];
          },
          pageChange(val) {

          },
          sizeChange(val) {
            console.log(val)
          },
          openEidt(item) {
            if (item) {
              this.$router.push({path: '/useredit', query: {name: item.name}})
            } else {
              this.$router.push({path: '/useredit'})
            }
          }
        },
        components: {}
    }
</script>

<style lang="scss" scoped>
    .userlist_wrap {
      .btn_add
      {
        float: right;
        color: #3a8ee6;
        margin-right: 10px;
        cursor: pointer;
      }
      .p_date {
        width: 150px;
      }
      .div_table {
        margin-top: 20px;
      }
      .searchbtn {
        margin-left: 50px;
      }
      .div_table{
        .btn_op
        {
          color: #3a8ee6;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
</style>
