<template>
    <div class="useredit_wrap">

      <div class="title">{{opName}}业务用户</div>
      <div style="width: 100%;overflow: hidden;"><div class="btn_back" @click="goBack">返回</div></div>

      <div class="div_info">
        <el-form ref="form" class="formdetail" :model="form" label-width="80px">
          <el-form-item label="姓名">
            <el-input class="formvalue" v-model="form.name"></el-input>
          </el-form-item>
          <el-form-item label="邮箱">
            <el-input class="formvalue" v-model="form.email"></el-input>
          </el-form-item>
          <el-form-item label="手机">
            <el-input class="formvalue" v-model="form.phone"></el-input>
          </el-form-item>
          <el-form-item label="密码">
            <el-input class="formvalue" type="password" v-model="form.password"></el-input>
          </el-form-item>
          <el-form-item label="确认密码">
            <el-input class="formvalue" type="password" v-model="form.password2"></el-input>
          </el-form-item>
          <el-form-item label="状态">
            <el-select class="item"  v-model="form.stateId" placeholder="请选择">
              <el-option
                v-for="(item, index) in stateList"
                :key="index"
                :label="item.name"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="所属机构">
            <el-input class="formvalue" v-model="form.organization"></el-input>
          </el-form-item>
          <div class="form_op">
                   <button class="btn_save">确定</button>
                   <button class="btn_cancel" @click="goBack">取消</button>
              </div>
        </el-form>
      </div>
      <div>

      </div>



    </div>
</template>

<script type="text/javascript">
    export default {
      name: 'useredit',
      data() {
        return {
          opName: '添加',
          name:'',
          form: {
            name: '',
            email: '',
            phone: '',
            password: '',
            password2: '',
            stateId: '',
            organization: ''
          },
          stateList: [
            {
              name: '正常',
              value: 1
            },
            {
              name: '禁用',
              value: 2
            }
          ],
        }
      },
      mounted() {
        if (this.$route.query && this.$route.query.name) {
          this.name = this.$route.query.name;
          this.opName = '编辑';
        }
      },
      methods: {
        goBack() {
           history.go(-1);
        }
      },
      components: {}
    }
</script>

<style lang="scss" scoped>
    .useredit_wrap {

      .btn_back
      {
        float: right;
        color: #3a8ee6;
        margin-right: 100px;
        cursor: pointer;
      }

      .div_info {
        width: 90%;
        border-bottom: 1px solid #d0e5da;
        margin-left: 30px;
        margin-top: 20px;
        .formdetail {
          margin-bottom: 20px;

        }
        .form_op{
          text-align:center;
        }
      }


    }
</style>
