<template>
    <div class="morelist-wrap">
        <logoheader></logoheader>
        <headertab :curindex="1"></headertab>
        <div class="clearfix content">
            <div class="left-box">
                <div class="clearfix detail-box">
                    <div class="fl img-box">
                        <img :src="detailData.interface_image" class="detail-img" srcset="../../assets/image/detailImg.png"/>
                    </div>
                    <div class="fl txt-box">
                        <p class="title">{{detailData.interface_name}}</p>
                        <p><span style="padding-left: 20px">{{detailData.interface_desc}}</span></p>
                    </div>
                </div>
                <div class="nav-content-box">
                    <el-tabs type="card">
                        <el-tab-pane label="API详情">
                            <div class="panel-box">
                                <table class="api">
                                    <tr>
                                        <th valign="top">数据简介：</th>
                                        <td valign="top">{{detailData.interface_desc}}</td>
                                    </tr>
                                    <tr>
                                        <th valign="top">接口地址：</th>
                                        <td valign="top">{{detailData.interface_address}}</td>
                                    </tr>
                                    <tr>
                                        <th valign="top">返回格式：</th>
                                        <td valign="top">{{detailData.interface_protocols}}</td>
                                    </tr>
                                    <tr>
                                        <th valign="top">请求方式：</th>
                                        <td valign="top">{{detailData.request_model}}</td>
                                    </tr>
                                    <tr>
                                        <th valign="top">请求示例：</th>
                                        <td valign="top">{{detailData.request_sample}}</td>
                                    </tr>
                                </table>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="参数说明">
                            <div class="panel-box">
                                <p class="param-tit"><label>请求参数说明：</label></p>
                                <table class="param-table">
                                    <tr>
                                        <th>名称</th>
                                        <th>类型</th>
                                        <th>必填</th>
                                        <th>说明</th>
                                    </tr>
                                    <tr v-for="item in detailData.paramsins">
                                        <td>{{item.param_name}}</td>
                                        <td>{{item.param_type==0?'string':'json'}}</td>
                                        <td>{{item.isRequired==0?'非必填':'必填'}}</td>
                                        <td>{{item.param_desc}}</td>
                                    </tr>
                                </table>
                                <p class="param-tit"><label>返回参数说明：</label></p>
                                <table class="param-table">
                                    <tr>
                                        <th>名称</th>
                                        <th>类型</th>
                                        <th>说明</th>
                                    </tr>
                                    <tr v-for="item in detailData.paramsout">
                                        <td>{{item.param_name}}</td>
                                        <td>{{item.param_type==0?'string':'json'}}</td>
                                        <td>{{item.param_desc}}</td>
                                    </tr>
                                </table>
                                <p class="param-tit"><label>返回示例：</label></p>
                                <div class="json-box">
                                    <p>JSON返回示例：</p>
                                    <pre>{{detailData.response_sample}}</pre>
                                </div>
                                <div class="json-box">
                                    <p>XML返回示例：</p>
                                    <!--<pre>{{detailData.paramData.returnSample.paramXml}}</pre>-->
                                </div>
                            </div>
                        </el-tab-pane>
                    </el-tabs>
                </div>
            </div>
            <div class="right-box">
                <div class="title-box">
                    <i class="icon-t"></i>
                    <span>推荐数据</span>
                </div>
                <ul class="list-box">
                    <li v-for="item in recommendData">
                        <div class="img-box">
                            <img :src="item.img" class="detail-img" srcset="../../assets/image/detailImg.png"/>
                        </div>
                        <p class="txt">{{item.txt}}</p>
                    </li>
                </ul>
            </div>
        </div>
        <commonfooter></commonfooter>
    </div>
</template>

<script type="text/javascript">
   import * as jstool from '../../assets/js/common/utility'
   import logoheader from '../../components/header.vue'
   import headertab from '../../components/headertab.vue'
   import commonfooter from '../../components/footer.vue'

   export default {
      name: 'datadetail',
      data() {
         return {
            id: '',
            detailData: {},
            recommendData: [
               {
                  img: '../../assets/image/detailImg.png',
                  txt: '身份证核验数据一个二两'
               },
               {
                  img: '../../assets/image/detailImg.png',
                  txt: '身份证核验数据一个二两'
               },
               {
                  img: '../../assets/image/detailImg.png',
                  txt: '身份证核验数据一个二两'
               },
               {
                  img: '../../assets/image/detailImg.png',
                  txt: '身份证核验数据一个二两'
               },
               {
                  img: '../../assets/image/detailImg.png',
                  txt: '身份证核验数据一个二两'
               }
            ]
         }
      },
      mounted() {
         this.id = this.$route.query.id;
         this.getDetailData()
      },
      methods: {
         getDetailData() {
            if (this.id) {
               this.$xhr.get('/datatransfer/getinterfacedetail', {params:{interfaceId: this.id}}).then((res) => {
                  // console.log(res)
                  this.detailData = res
               }).catch((err) => {

               })
            }
         }
      },
      components: {
         logoheader,
         headertab,
         commonfooter
      }

   }
</script>

<style lang="scss" scoped>
    $backgroundColor: #f2f2f2;
    $color: #333;
    $borderColor: #ccc;
    .content {
        width: 1280px;
        margin: 40px auto;
        .left-box {
            float: left;
            width: 1080px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            .detail-box {
                border: 1px solid $borderColor;
                padding: 10px;
                margin-bottom: 20px;
                .img-box {
                    width: 196px;
                    height: 196px;
                    background: $backgroundColor;
                    position: relative;
                    .detail-img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                    }
                }
                .txt-box {
                    padding: 0 0 0 20px;
                    width: 840px;
                    .title {
                        line-height: 40px;
                        font-size: 20px;
                        margin-bottom: 10px;
                        color: $color;
                    }
                    span {
                        color: #999;
                    }
                }
            }
            .nav-content-box {
                .panel-box {
                    padding: 0 20px;
                    width: 800px;
                    margin: auto;
                    .api {
                        tr th, tr td {
                            border-bottom: 1px solid $borderColor;
                            padding: 10px 0;
                        }
                        th {
                            color: $color;
                            width: 80px;
                            font-weight: bold;
                        }
                    }
                    .param-tit {
                        color: $color;
                        font-weight: bold;
                    }
                    .param-table {
                        width: 100%;
                        border: 1px solid $borderColor;
                        margin: 10px 0 20px;
                        th {
                            line-height: 30px;
                            background: $backgroundColor;
                        }
                        td {
                            line-height: 40px;
                        }
                        th, td {
                            padding: 0 10px;
                            min-width: 100px;
                            border-bottom: 1px solid $borderColor;
                            font-size: 12px;
                            color: $color;
                        }
                    }
                    .json-box {
                        background: $backgroundColor;
                        padding: 10px;
                        margin: 10px 0;
                        font-size: 12px;
                        color: #555;
                        pre {
                            white-space: pre-line;
                        }
                    }
                }
            }
        }
        .right-box {
            width: 180px;
            float: right;
            border: 1px solid #ccc;
            border-bottom: 0;
            .title-box {
                height: 36px;
                line-height: 36px;
                font-size: 16px;
                color: $color;
                border-bottom: 1px solid #ccc;
                background: #e4e4e4;
                .icon-t {
                    display: inline-block;
                    float: left;
                    margin: 5px 10px;
                    width: 21px;
                    height: 24px;
                    background: url(../../assets/image/icon-t.png) no-repeat;
                }
            }
            .list-box {
                li {
                    padding: 15px;
                    border-bottom: 1px solid #ccc;
                    cursor: pointer;
                    .img-box {
                        width: 150px;
                        height: 150px;
                        background: $backgroundColor;
                        position: relative;
                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                        }
                    }
                    p.txt {
                        display: block;
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        line-height: 25px;
                        margin: 10px 0;
                        color: $color;
                        text-align: center;
                    }
                }
            }
        }
    }
    .api td{
        word-break:break-all;
        width: 720px;
    }
</style>

