<template>
    <div class="wrap">
        <logoheader></logoheader>
        <headertab :curindex="0"></headertab>
        <div class="user-content">
            <div class="swiper-wrap">
                <el-carousel :interval="3000" arrow="always">
                    <el-carousel-item v-for="item in imgArr" :key="item.index">
                        <img :src="item.src" />
                    </el-carousel-item>
                </el-carousel>
            </div>
            <div class="bnr">
                <div v-for="item in bnr" class="bnr-div">
                    <router-link :to="item.path"><p>{{item.name}}</p></router-link>
                </div>
            </div>
            <p class="line"></p>
            <div class="datalist">
                <p class="title">
                    <span class="tit-name">数据资源</span>
                    <router-link to="/home/morelist"><li class="more">查看更多></li></router-link>
                </p>
                <div class="list-div">

                      <div class="item" v-for="(item,index) in dataList" :class="index%5===0?'noml':''" @click="handleDetailClick(item)">
                        <p class="img-p"><img src="../../assets/image/dataimg.png" alt=""></p>
                        <!--<p class="img-p"><img :src="item.interface_image" alt=""></p>-->
                        <p class="tit-p">{{item.interface_name}}</p>
                        <p class="thr-p">{{item.interface_desc}}</p>
                    </div>
                </div>
            </div>
            <p class="line"></p>
            <div class="foot-t"><img src="../../assets/image/foot-t12.png" alt="" @click="apiTest">能力开放平台</div>
        </div>
        <commonfooter></commonfooter>
    </div>
</template>

<script type="text/javascript">
   import logoheader from '../../components/header.vue'
   import headertab from '../../components/headertab.vue'
   import commonfooter from '../../components/footer.vue'

   export default {
     name: 'home',
     data() {
       return {
         imgArr: [
           {
             index: 1,
             src: require('../../assets/image/swiper.jpg')
           },
           {
             index: 2,
             src: require('../../assets/image/swiper.jpg')
           },
           {
             index: 3,
             src: require('../../assets/image/swiper.jpg')
           }
         ],
         bnr: [
           {
             name: '广告-数据接入',
             path: '/dataaccess',
           },
           {
             name: '广告-信贷风控',
             path: '/creditctrl',
           },
           {
             name: '广告-精准营销',
             path: '',
           },
           {
             name: '广告-系统管理',
             path: '',
           }
         ],
         dataList: [],
         imgRoot: '',
       }
     },
     mounted() {
       this.imgRoot = '';
       this.getDataList();
     },
     methods: {
       handleDetailClick(item) {
         // this.$route.push({path:'',query:{id:item.id}})
         this.$router.push({path: 'datadetail', query: {id: item.id}});
       },
       apiTest() {
         this.$xhr.get('/datatransfer/getinterfacelist').then((res) => {
           console.log('返回数据',res.length)
         }).catch((err) => {
         })
       },
       getDataList() {
         this.$xhr.get('/datatransfer/getinterfacelist').then((res) => {
           if (res) {
             this.dataList = res;
           }
         }).catch((err) => {
         })
//         this.dataList = [
//           {
//             id: '02488b87ee48438c91f24b6c73b229f0',
//             interface_name: '用户有效交往圈评分',
//             interface_desc: '交际圈验证（有效交往圈评分）',
//             interface_image: '../../assets/image/dataimg.png',
//           },
//           {
//             id: '06f25d4721694be1a8fa64135b7a719f',
//             interface_name: '银联消费画像',
//             interface_desc: '通过用户的手机号码查询用户消费信息中“近一月消费水平，消费频度”数据信息。',
//             interface_image: '../../assets/image/dataimg.png',
//           },
//           {
//             id: '07b8ed8c07944828ba368604f60372c8',
//             interface_name: '手机号实名认证',
//             interface_desc: '判断用户的实名制情况',
//             interface_image: '../../assets/image/dataimg.png',
//           },
//           {
//             id: '0d2a2a7ea5e84d1e9d9d465831b455e9',
//             interface_name: '银联借贷标',
//             interface_desc: '通过用户的手机号码查询用户消费信息中“借贷标记”数据信息。',
//             interface_image: '../../assets/image/dataimg.png',
//           },
//           {
//             id: '0f3ec1487e154d0e9f3ff0f29bdf2582',
//             interface_name: '羊毛党反欺诈',
//             interface_desc: '联通黑库查询--羊毛党（羊毛党反欺诈）',
//             interface_image: '../../assets/image/dataimg.png',
//           },
//           {
//             id: '1afa53a93b96484293f1ff7c6b5916cf',
//             interface_name: '在网时长',
//             interface_desc: '查询用户的在网时长',
//             interface_image: '../../assets/image/dataimg.png',
//           },
//         ];
       },
     },
     components: {
       logoheader,
       commonfooter,
       headertab
     }
   }
</script>

<style lang="scss" scoped>
    .wrap {
      width: 100%;
      .user-content {
        width: 1280px;
        margin: 0 auto;
        min-height: calc(100vh - 197px);
      }
      .swiper-wrap {
        height: 400px;
        margin-top: 20px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .bnr {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .bnr-div {
          margin-top: 10px;
          width: 630px;
          height: 190px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: url("../../assets/image/bnr.png") no-repeat;
          background-size: 100%;
        }
      }
      .line {
        height: 10px;
        background: #f1f1f1;
        margin-top: 20px;
      }
      .datalist {
        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 60px;
          .tit-name {
            font-size: 20px;
            font-weight: 600;
            color: black;
            padding-left: 30px;
            background: url("../../assets/image/dataico.jpg") no-repeat left center;
          }
          .more {
            color: #afafaf;
            cursor: pointer;
            margin-right: 20px;
          }
          .more:hover {
            text-decoration: underline;
            color: #6280ff;
          }
        }
        .list-div {
          overflow: hidden;
          .item {
            width: 243px;
            height: 243px;
            background: #f1f1f1;
            margin-top: 7px;
            margin-bottom: 6px;
            text-align: center;
            float: left;
            margin-left: 13px;
            cursor: pointer;
            p {
              text-align: center;
            }
            .thr-p {
              width: 220px;
              margin: 0 auto;
            }
            .tit-p {
              margin: 5px;
              color: black;
            }
            .img-p {
              width: 80px;
              height: 80px;
              margin: 40px auto 15px;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
          .item:hover {
            box-shadow: 0 0 10px 1px #6280ff;
          }
          .noml {
            margin-left: 5px;
          }
        }
      }
      .foot-t {
        height: 80px;
        line-height: 80px;
        margin: 20px 0;
        text-align: center;
        font-size: 34px;
        color: #fff;
        background: linear-gradient(130deg, #6280ff, #2f4bf1);
        position: relative;
        img {
          position: absolute;
          left: 20px;
          height: 80px;
          /*top: 10px;*/
        }
      }
    }
    /deep/ .el-carousel__item h3 {
        color: #475669;
        font-size: 18px;
        opacity: 0.75;
        line-height: 400px;
        margin: 0;
    }
    /deep/ .el-carousel__container{
        height: 400px;
    }
    /deep/ .el-carousel__button{
        width: 12px;
        height: 12px;
        border-radius: 6px;
    }
    /deep/ .el-carousel__indicator{
        padding: 25px 4px;
    }
    /deep/ .el-carousel__arrow {
      display: none;
    }
</style>
