<template>
    <div class="morelist-wrap">
        <logoheader></logoheader>
        <headertab :curindex="0"></headertab>
        <div class="datalist" style="position: relative" :class="havelist?'':'nolistdata'">
            <div class="search-div">
                <el-input placeholder="请输入关键字" v-model="keyWords" class="input-with-select">
                    <el-button slot="append" icon="el-icon-search" @click.stop.prevent="search"></el-button>
                </el-input>
            </div>
            <div class="list-div" v-show="havelist">
                <div class="item" v-for="(item,index) in dataList" :class="index%5===0?'noml':''" @click="handleDetailClick(item)">
                  <p class="img-p"><img src="../../assets/image/dataimg.png" alt=""></p>
                  <!--<p class="img-p"><img :src="item.interface_image" alt=""></p>-->
                  <p class="tit-p">{{item.interface_name}}</p>
                  <p class="thr-p">{{item.interface_desc}}</p>
                </div>
            </div>
            <div v-show="!havelist" class="nolist-div">
                <div class="nores">
                    <img src="../../assets/image/warn.jpg" alt="">
                    <span>暂无搜索结果，请尝试其它关键词</span>
                </div>
                <p class="line"></p>
                <div class="hotlist">
                    <p class="title">
                        <span class="tit-name">热门推荐</span>
                    </p>
                    <div class="hot-div">
                        <div class="item" v-for="(item,index) in 5" :class="index%5===0?'noml':''">
                            <p class="img-p"><img src="../../assets/image/dataimg.png" alt=""></p>
                            <p class="tit-p">三要素验证（4档）</p>
                            <p class="thr-p">主要针对用户姓名、手机号、证件号三要素的核实</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="pagination">
                <span class="txt_total">共找到<span>{{total}}</span>条记录</span>
                <div class="div_ctrl">
                    <el-pagination
                            @size-change="sizeChange"
                            @current-change="pageChange"
                            :page-size="pageSize"
                            :page-sizes="[10, 20, 50, 100]"
                            layout='sizes,prev, pager, next'
                            :total='total'
                            :current-page.sync="currentPage">
                    </el-pagination>
                </div>
            </div>
        </div>
        <commonfooter></commonfooter>
    </div>
</template>

<script type="text/javascript">
   import * as jstool from '../../assets/js/common/utility'
   import pagerCtrl from '../../components/pagingctrl.vue'
   import logoheader from '../../components/header.vue'
   import headertab from '../../components/headertab.vue'
   import commonfooter from '../../components/footer.vue'
   export default {
      name: 'morelist',
      data() {
         return {
            havelist:true,
            pageSize: 10,
            total: 35,
            currentPage: 1,
            keyWords:'',
            params:{
               page:1,
               pageSize: 25,
               keyWords:''
            },
           dataList: [],
         }
      },
      mounted() {
        this.getDataList();
      },
      methods: {
        pageChange(val) {
          this.params.page = val;
          this.getDataList();
        },
        sizeChange(val) {
          console.log(val);
        },
        getDataList() {
          this.$xhr.get('/datatransfer/getinterfacelist').then((res) => {
            if (res) {
              this.dataList = res;
            }
          }).catch((err) => {
          })
        },
        search() {
          this.hackReset = false;
          this.$nextTick(() => {
            this.hackReset = true
          });
          this.params.page = 1;
          this.getDataList()
        },
        handleDetailClick(item) {
          // this.$route.push({path:'',query:{id:item.id}})
          this.$router.push({path: '/datadetail', query: {id: item.id}});
        }
      },
      components: {
         pagerCtrl,
         logoheader,
         headertab,
         commonfooter
      }

   }
</script>

<style lang="scss" scoped>
    .datalist{
        width: 1280px;
        margin: 0 auto;
        min-height: calc(100vh - 217px);
        position: relative;
        .search-div {
          width: 300px;
          position: absolute;
          right: 10px;
          top: -47px;
        }
        .list-div {
          overflow: hidden;
          margin-top: 5px;
          .item {
            width: 243px;
            height: 243px;
            background: #f1f1f1;
            margin-top: 7px;
            margin-bottom: 6px;
            text-align: center;
            float: left;
            margin-left: 12px;
            cursor: pointer;
            p {
              text-align: center;
            }
            .thr-p {
              width: 220px;
              margin: 0 auto;
            }
            .tit-p {
              margin: 5px;
              color: black;
            }
            .img-p {
              width: 80px;
              height: 80px;
              margin: 40px auto 15px;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
          .item:hover {
            box-shadow: 0 0 10px 1px #6280ff;
          }
          .noml {
            margin-left: 5px;
          }
        }
        .nolist-div{
            .nores{
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .line{
                height: 10px;
                background:#f1f1f1 ;
                margin-top: 20px;
            }
            .hotlist{
                .title{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 60px;
                    .tit-name{
                        font-size: 20px;
                        font-weight: 600;
                        color: black;
                        padding-left: 30px;
                        background: url("../../assets/image/dataico.jpg") no-repeat left center;
                    }
                }
                .hot-div{
                    overflow: hidden;
                    .item {
                        width: 246px;
                        height: 246px;
                        background: #f1f1f1;
                        margin-top:12px;
                        text-align: center;
                        float: left;
                        margin-left: 12px;
                        p{
                            text-align: center;
                        }
                        .thr-p{
                            width: 220px;
                            margin: 0 auto;
                        }
                        .tit-p{
                            margin: 5px;
                            color: black;
                        }
                        .img-p{
                            width: 80px;
                            height: 80px;
                            margin: 40px auto 15px;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .noml{
                        margin-left: 0;
                    }
                }
            }
        }

    }
    .nolistdata{
        min-height: calc(100vh - 197px);
    }
    #keyWord{
        moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #dcdfe6;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        vertical-align:middle;
        width: 343px;
        height: 36px;
    }
    ::-ms-clear{display: none;}
    ::-ms-reveal{display: none;}
    .pagination{
        overflow: hidden;
        .div_ctrl{
            float: right;
        }
    }
</style>

