@import './lib-mixin';
@import "./lib-variable";




//日期选择框样式重写
.el-date-editor .el-input__inner {
  height: 35px;
  //border: 1px solid gray;
  //box-shadow: 0 0 2px gray;
}

.el-date-editor .el-input__icon
{
  line-height: 30px;
}

.div_edit .el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 90%;
}



//分页样式
.el-pager{
   //background: #e8f6ef;
   border: 1px solid #d0e5da;
   border-radius: 5px;
   padding: 5px 18px 5px 8px;
   margin-left: 5px !important;
   margin-right: 5px !important;
   //height: 17px;
}
.el-pager li{
   min-width: 18px;
   height: 18px;
   text-align: center;
   line-height: 18px;
   margin-left: 10px;
   background: #f5f8fd!important;
   border: 0px;
   color:#627e5e;
}
.el-pager li.active {
   border-color: #3a8ee6;
   background-color: #3a8ee6!important;
   color: #fff !important;
   cursor: default;
   border-radius: 3px;
}
.el-pager li:hover {
   color: #3a8ee6 !important;
}

.el-pager li.active:hover {
   color: #fff !important;
}

.el-pagination button.disabled{
   background: #e8f6ef;
   /*color:#20a0ff;*/
   color:#627e5e;
}

.el-pagination .btn-prev{
   background: #f5f8fd!important;
   border: 1px solid #d0e5da;
   border-radius: 5px;
   height: 30px;
   line-height: 28px;
   padding:5px 15px 5px 15px;
   margin-left: 10px;
   color:#627e5e!important;
}

.el-pagination .btn-prev:hover {
   .el-icon-arrow-left:before {
      color: #3a8ee6 !important;
   }
}

.el-pagination .btn-next{
   background: #f5f8fd!important;
   border: 1px solid #d0e5da;
   border-radius: 5px;
   height: 30px;
   line-height: 28px;
   padding:5px 15px 5px 15px;
   margin-left: 10px;
   color:#627e5e!important;
}

.el-pagination .btn-next:hover{
   color:#3a8ee6!important;
}

.el-pager li:last-child{border:0px;}
.el-pagination__editor{
   //background: #e8f6ef;
   //border: 1px solid #d0e5da;
   border-radius: 5px;
   height: 30px;
   line-height: 30px;
   width:50px;
   text-align: center;
   color:#627e5e;
   font-size: 14px;
}
.el-pagination button, .el-pagination span
{
   color:#627e5e;
   font-size: 12px;
}

.el-pagination span
{
   margin-left: 10px;
}

.el-pagination__jump{
   margin-left:0px;
   color:#627e5e;
}
.el-pager li.btn-quicknext, .el-pager li.btn-quickprev{line-height: 18px;}

.el-icon-arrow-left:before
{
   color: #627e5e;
   //color:#BAD8FF;
   content:'上一页'!important;
}

.el-icon-arrow-right:before
{
   /*color:#BAD8FF;*/
   content:'下一页'!important;
}

.el-pagination .el-select .el-input .el-input__inner
{
   height: 30px;
   line-height: 30px;
   background-color: #e8f6ef;
}