// 针对 UI 设计稿而做的一些样式重置
// 也既是 那些 浏览器中有 默认的样式，但需重做
@import './lib-mixin';
@import "./lib-variable";

body, html {
   font: 12px/1.5 \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, "Hiragino Sans GB", STHeiti, "WenQuanYi Micro Hei", "Droid Sans Fallback", SimSun, sans-serif;
   width: 100%;
   height: 100%;
   line-height: 1.5;
   font-size: $fz-sm;
   color: $cl-txt;
}

// 多选框样式 兼容性 IE9+
input[type=checkbox],
input[type=radio] {
   display: none;
}

i.checkbox {
   font-size: 20px;
}

// 未选中的checkbox的样式
i.checkbox:before,
i.radio:before {
   content: "\e608";
   color: #00fffe;
}

// 选中的checkbox样式
input[type=checkbox]:checked+i.checkbox:before,
input[type=radio]:checked+i.radio:before {
   content: "\e607";
   color: #00fffe;
}

// 解决左右出现滚动条时 左右晃动问题
html {
   overflow-y: scroll;
}

:root {
   overflow-y: auto;
   overflow-x: hidden;
}

:root body {
   position: absolute;
}

body {
   width: 100vw;
}

// placeholder 样式
input::-webkit-input-placeholder {
   /* WebKit browsers */
   color: #b8d7ff!important
}

input:-moz-placeholder {
   /* Mozilla Firefox 4 to 18 */
   color: #b8d7ff!important
}

input::-moz-placeholder {
   /* Mozilla Firefox 19+ */
   color: #b8d7ff!important
}

input:-ms-input-placeholder {
   /* Internet Explorer 10+ */
   color: #b8d7ff!important
}

// 滚动条
::-webkit-scrollbar {
   width: 5px;
   height: 5px;
}

// 定义滚动条轨道
::-webkit-scrollbar-track {
   border-radius: 10px;
   background-color: #18375a;
}

// 定义滑块
::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: #0764b4;
}


//分页控件样式
.pagination {
   margin: 20px 0;
   .pagerBtn {
      float: right;
      margin-top: 2px;
      background: #f5f8fd;
      border: 1px solid #d0e5da;
      border-radius: 5px;
      height: 28px;
      line-height: 28px;
      padding: 0px 20px 0px 20px;
      color: #627e5e;
      cursor: pointer;
   }

   .pagerBtn:hover {
      color: #3a8ee6;
   }

   .div_ctrl {
      float: right;
   }

   .txt_total {
      float: left;
      font-size: 14px;
      span {
         color: #3a8ee6;
         font-weight: bold;
      }
   }
}

//基本表格样式
.div_table {
   overflow: hidden;
   border: 1px solid #fff;
   border-radius: 5px;
   tr:nth-child(odd) {
      background: #ffffff;
   }
   tr:nth-child(even) {
      background-color: #ebf5ef;
   }
   tr {
      color: black;
      font-size: 14px;
      height: 40px;
      font-family: 微软雅黑;
      text-align: center;
      th {
         font-weight: bolder;
         text-align: center;
         background: #3a8ee6;
         color: #fff;
      }
      td {

      }
   }
   tr:hover {
      background-color: #dbecf1;
   }
}
//编辑表格样式
.div_edittable {
   overflow: hidden;
   border: 1px solid #fff;
   border-radius: 5px;
   tr {
      color: black;
      font-size: 14px;
      height: 40px;
      font-family: 微软雅黑;
      text-align: center;
      th {
         font-weight: bolder;
         text-align: center;
         background: #3a8ee6;
         color: #fff;
      }
      td {

      }
   }
}

//保存按钮
.btn_save {
   margin-right: 50px;
   width: 120px;
   height: 35px;
   border: 1px solid #fff;
   border-radius: 5px;
   background-color: #3a8ee6;
   color: #fff;
}

.btn_save:hover {
   opacity: .7;
}

//取消按钮
.btn_cancel {
   width: 120px;
   height: 35px;
   border: 1px solid #3a8ee6;
   border-radius: 5px;
   background-color: #fff;
   color: #3a8ee6;
}
.btn_cancel:hover
{
   opacity: .6;
}
//查询按钮
.searchbtn{
   width: 110px;
   height: 35px;
   background: linear-gradient(130deg, #ff8f00, #ff7b03);
   border: 1px solid #ff9d02;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   border-radius: 25px;
   color: #fff;
   font-size: 14px;
}
.searchbtn:hover {
   background: linear-gradient(130deg, #ff7b03, #ff7b03);
   opacity: .7;
}
.searchbtn .iconfont{margin-right: 10px;}


//每页标题样式
.title {
   width: 100%;
   height: 50px;
   line-height: 50px;
   color: black;
   font-size: 16px;
   margin-left: 20px;
}

//查询框样式
.query-form{
   position: relative;
   padding: 20px;
   background-color: #f2f8f5;
   border-radius:5px;
   .item-label{
      height: 14px;
      font-family: ﻿MicrosoftYaHei;
      font-size: 14px;
      line-height: 34px;
      letter-spacing: 0;
      color: #627e5e;
   }
   .item{
      margin-right:22px;
   }
}
