<template>
    <div class="serveraccess_wrap">
       <div class="title">服务接入</div>
       <div class="main">
          <!--基本信息-->
          <div class="div_info">
            <el-form ref="form" class="formdetail" :model="form" label-width="80px">
              <el-form-item label="数据名称">
                <el-input class="formvalue" v-model="form.name"></el-input>
              </el-form-item>
              <el-form-item label="数据概述">
                <el-input class="formvalue" v-model="form.name"></el-input>
              </el-form-item>
              <el-form-item label="供应商">
                <el-input class="formvalue" v-model="form.name"></el-input>
              </el-form-item>
              <el-form-item label="数据简介">
                <el-input  type="textarea" :rows="4" resize="none" class="formvalue" v-model="form.name"></el-input>
              </el-form-item>
              <el-form-item label="接口地址">
                <el-input class="formvalue" v-model="form.name"></el-input>
              </el-form-item>
              <el-form-item label="返回格式">
                <el-input class="formvalue" v-model="form.name"></el-input>
              </el-form-item>
              <el-form-item label="请求方式">
                <el-input class="formvalue" v-model="form.name"></el-input>
              </el-form-item>
              <span class="form_op">
                   <button class="btn_save">保存</button>
                   <button class="btn_cancel">取消</button>
              </span>
            </el-form>
          </div>
          <!--传入参数编辑-->
          <div class="div_param">
            <div class="param_title">
              <div style="float: left">请求参数说明：</div>
              <div class="btn_add" @click="addRequest">+ 添加行</div>
            </div>

            <div class="div_edittable">
              <table width="100%">
                <tr>
                  <th class="col_middle">名称</th>
                  <th class="col_short">类型</th>
                  <th class="col_short">必填</th>
                  <th class="col_long">说明</th>
                </tr>
                <tbody class="tb_data" >
                <tr v-if="requestList.length==0">
                  <td colspan="4">暂无数据</td>
                </tr>
                <tr :key="index" v-for="(item,index) in requestList">
                  <td>
                      <el-input v-model="item.name"></el-input>
                  </td>
                  <td>
                    <el-select v-model="item.type" placeholder="请选择">
                      <el-option v-for="typeitem in itemTypeList" :label="typeitem.name" :key='typeitem.id'
                                 :value="typeitem.id"></el-option>
                    </el-select>
                  </td>
                  <td>
                    <el-select v-model="item.notNull" placeholder="请选择">
                      <el-option v-for="editObj in isEditArr" :label="editObj" :key='editObj'
                                 :value="editObj"></el-option>
                    </el-select>
                   </td>
                  <td>
                    <el-input v-model="item.remark"></el-input>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <span class="form_op">
                   <button class="btn_save">保存</button>
                   <button class="btn_cancel">取消</button>
            </span>


          </div>
          <!--返回参数编辑-->
         <div class="div_param">
           <div class="param_title">
             <div style="float: left">返回参数说明：</div>
             <div class="btn_add" @click="addResponse">+ 添加行</div>
           </div>

           <div class="div_edittable">
             <table width="100%">
               <tr>
                 <th class="col_middle">名称</th>
                 <th class="col_short">类型</th>
                 <th class="col_long">说明</th>
               </tr>
               <tbody class="tb_data" >
               <tr v-if="responseList.length==0">
                 <td colspan="3">暂无数据</td>
               </tr>
               <tr :key="index" v-for="(item,index) in responseList">
                 <td>
                   <el-input v-model="item.name"></el-input>
                 </td>
                 <td>
                   <el-select v-model="item.type" placeholder="请选择">
                     <el-option v-for="typeitem in itemTypeList" :label="typeitem.name" :key='typeitem.id'
                                :value="typeitem.id"></el-option>
                   </el-select>
                 </td>
                 <td>
                   <el-input v-model="item.remark"></el-input>
                 </td>
               </tr>
               </tbody>
             </table>
           </div>
           <span class="form_op">
                   <button class="btn_save">保存</button>
                   <button class="btn_cancel">取消</button>
            </span>
         </div>
          <!--返回示例-->
         <div class="div_forexample">
           <div class="param_title">
             <div style="float: left;margin-bottom: 20px;">返回示例：</div>
           </div>
           <el-input style="margin-bottom: 20px;" type="textarea" :rows="6" resize="none" class="formvalue" v-model="returnExp"></el-input>
           <span class="form_op">
                   <button class="btn_save">保存</button>
                   <button class="btn_cancel">取消</button>
            </span>
         </div>

       </div>
    </div>
</template>

<script type="text/javascript">

    export default {
      name: 'serveraccess',
      data() {
        return {
          form: {},
          requestList: [],
          returnList: [],
          itemTypeList: [],
          isEditArr: ['是', '否'],

          responseList: [],
          returnExp:'',
        }
      },
      mounted() {
        this.getItemTypeList();

        this.getReList();
        this.getBackList();

        this.returnExp = 'JSON返回示例：\n' +
          '  "resultcode":"200",\n' +
          '  "reason":"成功的返回",\n' +
          '  "result":{\n' +
          '       "area":"浙江省温州市平阳县",\n' +
          '       "sex":"男",\n' +
          '       "birthday":"1989年03月08日"\n' +
          '  }\n' +
          '  }';
      },
      methods: {

        getReList() {
          this.requestList = [
            {
              id: 1,
              name: 'token',
              type: 1,
              notNull: '是',
              remark: '说明1',
            },
            {
              id: 2,
              name: 'cardno',
              type: 2,
              notNull: '是',
              remark: '说明2',
            }
          ];
        },
        getItemTypeList() {
          this.itemTypeList = [
            {
              id: 1,
              name: 'string',
            },
            {
              id: 2,
              name: 'bool',
            },
            {
              id: 3,
              name: 'int',
            },
          ];
        },
        addRequest(){
          this.requestList.push({
            id: 0,
            name: '',
            type: 1,
            notNull: '是',
            remark: '',
          })
        },

        getBackList(){
          this.responseList = [
            {
              id: 1,
              name: 'token',
              type: 1,
              remark: '说明1',
            },
            {
              id: 2,
              name: 'cardno',
              type: 2,
              remark: '说明2',
            }
          ];
        },
        addResponse(){
          this.responseList.push({
            id: 0,
            name: '',
            type: 1,
            remark: '',
          })
        },

      },
      components: {}
    }
</script>

<style lang="scss" scoped>
    .serveraccess_wrap {
      .title {
        width: 100%;
        height: 50px;
        line-height: 50px;
        color: black;
        font-size: 16px;
        margin-left: 20px;
      }
      .main {
        width: 100%;
        padding: 10px;
        margin-bottom: 30px;
        .div_info {
          width: 90%;
          border-bottom: 1px solid #d0e5da;
          margin-left: 30px;
          .formdetail {
            margin-bottom: 20px;

          }
        }
        .div_param {
          width: 90%;
          border-bottom: 1px solid #d0e5da;
          margin-left: 30px;
          margin-top: 40px;
          padding-bottom: 20px;
          .param_title {
            margin-bottom: 10px;
            color: black;
            overflow: hidden;
          }
          .div_edittable{
            margin-bottom: 20px;
          }
        }

        .div_forexample{
          width: 90%;
          border-bottom: 1px solid #d0e5da;
          margin-left: 30px;
          margin-top: 40px;
          padding-bottom: 20px;
        }
      }

      .txtfoucs
      {
        border: 1px solid #3a8ee6;
      }

      .col_short {
        width: 10%;
      }
      .col_middle {
        width: 20%;
      }
      .col_long {
        width: 40%;
      }

      .form_op {
        margin-left: 350px;
        margin-bottom: 20px;
      }

      .btn_add {
        float: right;
        color: #3a8ee6;
        margin-right: 10px;
        cursor: pointer;
      }

    }
</style>
