<template>
    <div class="wrap">
        <div class="title">服务列表</div>
        <div class="query-form">
            <label class="item-label">服务名称：</label>
            <el-input style="width: 183px;" class="item"
                      placeholder="请输入"
                      v-model="params.name"
                      clearable>
            </el-input>
            <label class="item-label">服务状态：</label>
            <el-select style="width: 120px;" class="item"  v-model="params.stateId" placeholder="请选择">
                <el-option
                        v-for="(item, index) in stateList"
                        :key="index"
                        :label="item.name"
                        :value="item.value">
                </el-option>
            </el-select>
            <button class="searchbtn" @click="search"><i class="iconfont icon-icon-"></i>查询</button>
        </div>
        <div class="div_table">
            <table width="100%">
                <tr>
                    <th class="check-th" style="width: 30px">
                        <el-checkbox v-model="isAllChecked" @change="ckall_change"></el-checkbox>
                    </th>
                    <th class="col_short">全选</th>
                    <th class="col_middle">服务ID</th>
                    <th class="col_middle">服务名称</th>
                    <th class="col_middle">供应商</th>
                    <th class="col_middle">状态</th>
                    <th class="col_middle">创建人</th>
                    <th class="col_middle" style="width: 260px">操作</th>
                </tr>
                <tbody class="tb_data">
                <!--<tr v-if="dataList.length==0">-->
                    <!--<td colspan="7">暂无数据</td>-->
                <!--</tr>-->
                <tr v-for="(item,index) in 10">
                    <td class="check-th">
                        <el-checkbox v-model="item.select" @change="ck_change"></el-checkbox>
                    </td>
                    <td>{{index+1}}</td>
                    <td>11200003</td>
                    <td>全国电动车交易数据</td>
                    <td>XXX</td>
                    <td>下架</td>
                    <td>李四</td>
                    <td>
                        <a href="#">预览</a>
                        <a href="#">上架</a>
                        <a href="#">下架</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pagination">
                <span class="txt_total">共找到<span>{{total}}</span>条记录</span>
                <!--<div slot class="pagerBtn">确定</div>-->
                <div class="div_ctrl">
                    <el-pagination
                            @size-change="sizeChange"
                            @current-change="pageChange"
                            :page-size="pageSize"
                            :page-sizes="[10, 20, 50, 100]"
                            layout='sizes,prev, pager, next'
                            :total='total'
                            :current-page.sync="currentPage">
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
    export default {
        name: 'serverpublish',
        data() {
            return {
               hackReset:true,
               isAllChecked: false,
               pageSize: 10,
               total: 35,
               currentPage: 1,
               stateList: [
                  {
                     name: '全部',
                     value: 0
                  },
                  {
                     name: '上架',
                     value: 1
                  },
                  {
                     name: '下架',
                     value: 2
                  }
               ],
               params: {
                  stateId: 0,
                  page: 1,
                  pageSize:10,
                  name:''
               }
            }
        },
        mounted() {

        },
        methods: {
           search() {
              this.hackReset = false;
              this.$nextTick(() => {
                 this.hackReset = true
              });
              this.params.page = 1;
           },
           pageChange(val) {
              this.params.page = val;
              // this.getDataList();
           },
           sizeChange(val) {
              console.log(val);
           },
           /*复选框*/
           ckall_change(val) {
              this.setAllDataCheck(val);
           },
           setAllDataCheck(isCheck) {
              // for (let item of this.dataList) {
              //    if (isCheck) {
              //       item.select = true;
              //    }
              //    else {
              //       item.select = false;
              //    }
              // }
           },
           ck_change(val) {
              // if (this.dataList.length === 0) {
              //    return;
              // }
              // if (val) {
              //    let count = 0;
              //    for (let item of this.dataList) {
              //       if (item.select) {
              //          count++;
              //       }
              //    }
              //    if (count === this.dataList.length) {
              //       this.isAllChecked = true;
              //    }
              // }
              // else {
              //    this.isAllChecked = false;
              // }
           },
        },
        components: {

        }
    }
</script>

<style lang="scss" scoped>
    .wrap {
      .title {
        width: 100%;
        height: 50px;
        line-height: 50px;
        color: black;
        font-size: 16px;
        margin-left: 20px;
      }
      .query-form {
        position: relative;
        padding: 20px;
        background-color: #f2f8f5;
        border-radius: 5px;
        margin-bottom: 20px;
        .item-label {
          height: 14px;
          font-family: ﻿MicrosoftYaHei;
          font-size: 14px;
          line-height: 34px;
          letter-spacing: 0;
          color: #627e5e;
        }
        .item {
          margin-right: 22px;
        }
      }
    }
    tr a{
        color: #0764b4;
        padding: 0 10px;
    }
    tr a:hover{
        text-decoration: underline;
    }
    .col_short{
        width: 30px;
    }
</style>
