<template>
    <div class="footer-wrap">
        <div class="div-footer">
            <img src="../assets/image/logo1.png" alt="">
            <div>
                <p>- 法律声明 -</p>
                <p>京IPC备17003023号-1 京公网安备 11010502030745号</p>
            </div>
            <img src="../assets/image/u73.png" alt="">
        </div>
    </div>
</template>

<script type="text/javascript">
   import * as jstool from '../assets/js/common/utility'

   export default {
      name: 'commonfooter',
      data() {
         return {

         }
      },
      mounted() {

      },
      methods: {},
      components: {}

   }
</script>

<style lang="scss" scoped>
    .footer-wrap {
        min-width: 1280px;
        height: 79px;
        background: url("../assets/image/footbg.p.jpg") repeat-x;
        background-size: cover;
        color: #fff;
        .div-footer {
            height: 79px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 1280px;
            margin: 0 auto;
            color: #fff;
            img{
                width: 64px;
                height: 56px;
            }
            div{
                width: 500px;
                text-align: center;
            }
        }
    }

</style>

