<template>
    <div class="tab-wrap">
        <ul class="tab-content">
            <router-link v-for="item in tablist" :to="item.path" :key="item.name">
                <li class="tab-li" :class="item.active?'isactive':''">
                    {{item.name}}
                </li>
            </router-link>
        </ul>
    </div>
</template>

<script type="text/javascript">
  import * as jstool from '../assets/js/common/utility'
  export default {
    name: 'headertab',
    props: ['curindex'],
    data() {
      return {
        tablist: [
          {
            name: '首页',
            path: '/home',
            active: true
          },
          {
            name: '数据接入',
            path: '/dataaccess',
            active: false
          },
          {
            name: '信贷风控',
            path: '/creditctrl',
            active: false
          },
          {
            name: '精准营销',
            path: '',
            active: false
          },
          {
            name: '系统管理',
            path: '/serveraccess',
            active: false
          }
        ]
      }
    },
    mounted() {
      this.handleTabClick(this.curindex);
      //  let path = this.$route.path;
      //  for(let item of this.tablist){
      //     item.active = false
      //     if(item.path === path){
      //        item.active = true
      //     }
      //  }
    },
    methods: {
      handleTabClick(index) {
        for (let i = 0; i < this.tablist.length; i++) {
          if (i == index) {
            this.tablist[i].active = true;
          }
          else {
            this.tablist[i].active = false;
          }
        }
      }
    },
    components: {}

  }
</script>

<style lang="scss" scoped>
  .tab-wrap {
      margin-top: 10px;
      .tab-content{
          width: 1280px;
          margin: 0 auto;
          background: #3a8ee6;
          color: black;
          display: flex;
          align-items: center;
          .tab-li {
              padding: 10px 60px;
              color: #fff;
              font-size: 16px;
          }
          .tab-li:hover{
              background: #2f4bf1;
              transition: all 0.5s;
          }
      }
  }
    .isactive{
        background: #2f4bf1;
    }
</style>

