<template>
    <div class="header-wrap">
       <div class="div_header">
         <img class="img_logo" src="../assets/image/logo1.png"/>
         <div class="div_logo">
            <div style="height: 50px;font-size: 32px;color: #fff">江西省农村信用社（农商银行）</div>
            <div style="height: 24px;color: #fff">JIANG XI RURAL UNION & RURAL COMMERCIAL BANK</div>
         </div>
         <div class="div_title">
           <div class="title_text">外部数据综合应用系统</div>
           <div class="div_op" >
             <div class="btn_op">|&nbsp&nbsp&nbsp&nbspHELP</div>
             <div class="btn_op">|&nbsp&nbsp&nbsp&nbspUSER</div>
             <div class="btn_op" @click="loginout">|&nbsp&nbsp&nbsp&nbspLOGOUT</div>
           </div>
         </div>
       </div>
    </div>
</template>

<script type="text/javascript">
  import * as jstool from '../assets/js/common/utility'
  export default {
    name: 'logoheader',
    data() {
      return {
        txtValue: '',
      }
    },
    mounted() {

    },
    methods: {
      loginout(){
        this.$router.push({path: '/login'});
      },
    },
    components: {}

  }
</script>

<style lang="scss" scoped>
  .header-wrap {
    height: 74px;
    background: url("../assets/image/headerbg4.png") no-repeat;
    background-size: cover;
    color: #fff;
    min-width: 1280px;
    .div_header {
      width: 1280px;
      margin: 0 auto;
      height: 100%;
      .img_logo {
        float: left;
        height: 74px;
      }
      .div_logo {
        float: left;
        color: black;
        margin-left: 15px;
      }
      .div_title {
        float: left;
        margin-left: 25px;
        .title_text {
          float: left;
          line-height: 74px;
          font-size: 26px;
          font-weight: normal;
        }
        .div_op {
          float: left;
          margin-top: 50px;
          margin-left: 180px;
          .btn_op {
            float: left;
            margin-left: 20px;
            cursor: pointer;
          }
          .btn_op:hover {
            /*font-weight: bold;*/
            opacity: .7;
          }
        }
      }
    }
  }

</style>

