<template>
    <div class="leftbar-wrap">
        <el-menu style="background-color: #f2f8f5"
                 :default-active="str"
                 class="el-menu-vertical-demo"
                 @open="handleOpen"
                 @close="handleClose">
            <el-submenu index="1">
                <template slot="title">
                    <span>服务管理</span>
                </template>
                <el-menu-item index="1-1" @click="handleClick('1-1')">服务接入</el-menu-item>
                <el-menu-item index="1-2" @click="handleClick('1-2')">服务发布</el-menu-item>
            </el-submenu>
            <el-submenu index="2">
                <template slot="title">
                    <span>服务日志</span>
                </template>
                <el-menu-item index="2-1" @click="handleClick('2-1')">调用日志</el-menu-item>
            </el-submenu>
            <el-submenu index="3">
                <template slot="title">
                    <span>用户管理</span>
                </template>
                <el-menu-item index="3-1" @click="handleClick('3-1')">业务用户列表</el-menu-item>
                <el-menu-item index="3-2" @click="handleClick('3-2')">添加/编辑业务用户</el-menu-item>
                <el-menu-item index="3-3" @click="handleClick('3-3')">管理员日志</el-menu-item>
            </el-submenu>
            <el-submenu index="4">
                <template slot="title">
                    <span>角色权限管理</span>
                </template>
                <el-menu-item index="4-1" @click="handleClick('4-1')">角色创建</el-menu-item>
                <el-menu-item index="4-2" @click="handleClick('4-2')">业务权限</el-menu-item>
                <el-menu-item index="4-3" @click="handleClick('4-3')">管理员权限</el-menu-item>
            </el-submenu>
        </el-menu>
    </div>
</template>

<script type="text/javascript">
   import * as jstool from '../assets/js/common/utility'

   export default {
      name: 'leftbar',
      data() {
         return {
            str: '1-1'
         }
      },
      mounted() {
         this.setLeftBar(this.$route.path)
      },
      methods: {
         handleOpen(key, keyPath) {
            // console.log(key, keyPath);
         },
         handleClose(key, keyPath) {
            // console.log(key, keyPath);
         },
         handleClick(str) {
            switch (str) {
               case '1-1':
                  this.$router.push({path: '/serveraccess'})
                  break;
               case '1-2':
                  this.$router.push({path: '/serverpublish'})
                  break;
               case '2-1':
                  this.$router.push({path: '/serverlog'})
                  break;
               case '3-1':
                  this.$router.push({path: '/userlist'})
                  break;
               case '3-2':
                  this.$router.push({path: '/useredit'})
                  break;
               case '3-3':
                  this.$router.push({path: '/managerlog'})
                  break;
               case '4-1':
                  this.$router.push({path: '/rolelist'})
                  break;
               case '4-2':
                  // this.$router.push({path:'/lineauth'})
                  break;
               case '4-3':
                  this.$router.push({path: '/adminprivilege'})
                  break;
            }
         },
         setLeftBar(path) {
            if (path.indexOf('/serveraccess') > -1) {
               this.str = '1-1'
            }
            if (path.indexOf('/serverpublish') > -1) {
               this.str = '1-2'
            }
            if (path.indexOf('/serverlog') > -1) {
               this.str = '2-1'
            }
            if (path.indexOf('/userlist') > -1) {
               this.str = '3-1'
            }
            if (path.indexOf('/useredit') > -1) {
               this.str = '3-2'
            }
            if (path.indexOf('/managerlog') > -1) {
               this.str = '3-3'
            }
            if (path.indexOf('/rolelist') > -1) {
               this.str = '4-1'
            }
            // if(path.indexOf('/lineauth')>-1){
            //    this.str = '4-2'
            // }
            if (path.indexOf('/adminprivilege') > -1) {
               this.str = '4-3'
            }
         }
      },
      components: {},
      watch: {
         $route(to, from) {
            this.setLeftBar(to.path)
         }
      },

   }
</script>

<style lang="scss" scoped>
    /deep/ .el-submenu__title {
        font-size: 16px;
        font-weight: bold;
        padding: 0 30px !important;
    }

    /deep/ .el-submenu .el-menu-item {
        min-width: 190px;
    }
    /deep/ .el-submenu .el-menu-item:hover{
        background: #dbecf1;
    }
    /deep/ .el-submenu__title:hover{
        background: #dbecf1;
    }
    /deep/ .el-menu-item.is-active{
        background: #dbecf1;
    }
</style>

