<template>
    <div class="pagination">
        <span class="txt_total" v-if="isShowTotal">共找到<span>{{total}}</span>条记录</span>
        <div slot class="pagerBtn" v-if="isShowButton">确定</div>
        <div class="div_ctrl">
            <el-pagination
                    @current-change="handleCurrentChange"
                    :page-size="pageSize"
                    :layout="layout"
                    :total="total"
                    :current-page.sync="currentPage">
            </el-pagination>
        </div>
    </div>
</template>

<script>
   export default {
      name: 'pagination',
      data() {
         return {
            currentPage: 1,
         }
      },
      props: {
         pageSize: { //每页条数
            type: Number,
            default: 10
         },
         total: {  //总页数
            type: Number,
            default: 100
         },
         layout: {
            type: String,
            default: 'prev, pager, next, jumper'
         },
         isShowTotal: {
            type: Boolean,
            default: true
         },
         isShowButton: {
            type: Boolean,
            default: true
         },
      },
      mounted() {
         if (!!window.ActiveXObject || "ActiveXObject" in window){
            document.body.addEventListener('keyup', this.bodyListener, false)
         }
      },
      methods: {
         bodyListener(e) {
            if (e.keyCode === 13) {
               this.getElementByAttr()
            }
         },
         getElementByAttr() {
            let aElements = document.getElementsByTagName('input');
            let aEle = [];
            for (let i = 0; i < aElements.length; i++) {
               if (aElements[i].getAttribute('type') == 'number'){
                  aEle.push(aElements[i]);
               }
            }
            // console.log(aEle)
            let inputVal = Number(aEle[0].value);
            this.currentPage = inputVal;
            this.$emit('pageChange', inputVal);
         },
         handleCurrentChange(val) {
            this.currentPage = val;
            this.$emit('pageChange', val);
         }
      },
      beforeDestroy() {
         document.body.removeEventListener('keyup', this.bodyListener)
      },
   }
</script>

<style lang="scss" scoped>
    .pagerBtn {
        float: right;
        margin-top: 2px;
        background: #f5f8fd;
        border: 1px solid #d0e5da;
        border-radius: 5px;
        height: 28px;
        line-height: 28px;
        padding: 0px 20px 0px 20px;
        color: #627e5e;
        cursor: pointer;
    }

    .pagerBtn:hover {
        color: #3a8ee6;
    }

    .txt_total {
        float: left;
        font-size: 14px;
        display: inline-block;
        height: 34px;
        line-height: 34px;
        span {
            color: #3a8ee6;
            font-weight: bold;
        }
    }



</style>
