<template>
    <div class="sys_wrap">
      <logoheader></logoheader>
      <headertab :curindex="4"></headertab>
      <p class="blankline"></p>
      <div class="content">
        <div class="left_bar">
          <leftbar></leftbar>
        </div>
        <router-view class="childcontent"/>
      </div>
      <commonfooter></commonfooter>
    </div>
</template>

<script type="text/javascript">
  import leftbar from '../../components/leftbar.vue'
  import logoheader from '../../components/header.vue'
  import headertab from '../../components/headertab.vue'
  import commonfooter from '../../components/footer.vue'
    export default {
        name: 'sysindex',
        data() {
            return {}
        },
        mounted() {

        },
        methods: {},
        components: {leftbar,logoheader,headertab,commonfooter}
    }
</script>

<style lang="scss" scoped>
    .sys_wrap {
      .blankline {
        height: 5px;
        background: #3a8ee6;
        width: 1280px;
        margin: 0 auto;
        margin-top: 15px;
      }
      .content {
        width: 1280px;
        overflow: hidden;
        margin: 0 auto;
        min-height: calc(100vh - 227px);
        .left_bar {
          width: 190px;
          float: left;
          border: 1px solid #c6cac6;
        }
        .childcontent {
          width: 1065px;
          float: right;
        }
      }
    }
</style>
