<template>
    <div class="adminprivilege_wrap">
        <div class="title">编辑管理员权限<a>返回</a></div>
        <div class="content">
            <p class="content-top">
                <span>管理员</span>
                <span>张三</span>
                <span>[zhangsan]</span>
            </p>
            <div class="div_role">
                <ul>
                    <li>
                        <el-checkbox v-model="isSelect"><span class="ck-tlt">数据</span></el-checkbox>
                        <el-checkbox v-model="isSelect"><span class="ck-con">服务编辑/添加</span></el-checkbox>
                        <el-checkbox v-model="isSelect"><span class="ck-con">服务上下架</span></el-checkbox>
                    </li>
                    <li>
                        <el-checkbox v-model="isSelect"><span class="ck-tlt">服务日志</span></el-checkbox>
                        <el-checkbox v-model="isSelect"><span class="ck-con">查看服务调用日志</span></el-checkbox>
                    </li>
                    <li>
                        <el-checkbox v-model="isSelect"><span class="ck-tlt">用户管理</span></el-checkbox>
                        <el-checkbox v-model="isSelect"><span class="ck-con">管理员账号编辑/添加</span></el-checkbox>
                        <el-checkbox v-model="isSelect"><span class="ck-con">管理员日志查看</span></el-checkbox>
                        <el-checkbox v-model="isSelect"><span class="ck-con">角色权限修改</span></el-checkbox>
                    </li>
                    <li>
                        <el-checkbox v-model="isSelect"><span class="ck-tlt">角色权限</span></el-checkbox>
                        <el-checkbox v-model="isSelect"><span class="ck-con">角色创建</span></el-checkbox>
                        <el-checkbox v-model="isSelect"><span class="ck-con">添加/编辑角色权限</span></el-checkbox>
                        <el-checkbox v-model="isSelect"><span class="ck-con">添加编辑管理员权限</span></el-checkbox>
                    </li>
                </ul>
                <p class="form_op">
                    <el-checkbox v-model="IsAllChecked"><span>全选</span></el-checkbox>
                    <button class="btn_save">确定</button>
                    <button class="btn_cancel">重置</button>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
   export default {
      name: "adminprivilege",
      data() {
         return {
            IsAllChecked: false,
            isSelect:false
         }
      },
      mounted() {

      },
      methods: {

      }
   }
</script>

<style scoped lang="scss">
    .title  {
        a{
            color: #3a8ee6;
            font-size: 14px;
            margin-left: 20px
        }
        a:hover {
            text-decoration: underline;
        }
    }

    .content {
        border: 1px solid #ccc;
        padding-left: 10px;
        .content-top{
            height: 40px;
            line-height: 40px;
            border-bottom: 1px dashed #ccc;
            span{
                padding: 0 5px;
            }
        }
        .div_role{
            li{
                padding: 20px 0;
                .ck-tlt{
                    font-size: 18px;
                    font-weight: bold;
                    display: inline-block;
                    width: 60px;
                }
                .ck-con{
                    display: inline-block;
                    width: 120px;
                }
            }

        }
    }
    .btn_save{
        margin-left: 260px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
</style>