<template>
    <div class="roleedit_wrap">

      <div class="title">{{opName}}角色</div>
      <div style="width: 100%;overflow: hidden;"><div class="btn_back" @click="goBack">返回</div></div>

      <div class="div_info">
        <el-form ref="form" class="formdetail" :model="form" label-width="80px">
          <el-form-item label="角色名称">
            <el-input class="formvalue" v-model="form.name"></el-input>
          </el-form-item>
          <el-form-item label="角色概述">
            <el-input  type="textarea" :rows="4" resize="none" class="formvalue" v-model="form.name"></el-input>
          </el-form-item>

        </el-form>
      </div>
      <div class="div_role">
        <ul>
          <li v-for="(item,index) in funList">
            <el-checkbox v-model="item.isSelect">{{item.name}}</el-checkbox>
          </li>
        </ul>
      </div>
      <span class="form_op">
        <el-checkbox style="margin-left: 60px;">全选</el-checkbox>
        <button class="btn_save" style="margin-left: 260px;">保存</button>
        <button class="btn_cancel">重置</button>
      </span>


    </div>
</template>

<script type="text/javascript">

    export default {
      name: 'roleedit',
      data() {
        return {
          opName: '添加',
          form: {name: ''},
          id: '',
          funList: [],
        }
      },
      mounted() {
        if (this.$route.query && this.$route.query.id) {
          this.id = this.$route.query.id
          this.opName = '编辑';
        }
        this.getFunList();
      },
      methods: {
        goBack() {
          history.go(-1);
        },
        getFunList() {
          this.funList = [
            {
              id: 1,
              name: '查看服务详情',
              isSelect: false,
            },
            {
              id: 2,
              name: '查看信贷风控',
              isSelect: false,
            },
            {
              id: 3,
              name: '查看精准营销',
              isSelect: false,
            },
            {
              id: 1,
              name: '查看服务详情',
              isSelect: false,
            },
            {
              id: 2,
              name: '查看信贷风控',
              isSelect: false,
            },
            {
              id: 3,
              name: '查看精准营销',
              isSelect: false,
            },
            {
              id: 1,
              name: '查看服务详情',
              isSelect: false,
            },
            {
              id: 2,
              name: '查看信贷风控',
              isSelect: false,
            },
            {
              id: 3,
              name: '查看精准营销',
              isSelect: false,
            },
          ];

        },
      },
      components: {}
    }
</script>

<style lang="scss" scoped>
    .roleedit_wrap {
      .btn_back {
        float: right;
        color: #3a8ee6;
        margin-right: 100px;
        cursor: pointer;
      }

      .div_info {
        width: 90%;
        border-bottom: 1px solid #d0e5da;
        margin-left: 30px;
        margin-top: 20px;
        .formdetail {
          margin-bottom: 20px;

        }
      }

      .div_role {
        width: 90%;
        overflow: hidden;
        margin-bottom: 30px;
        margin-left: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid #d0e5da;
        li {
          float: left;
          margin-left: 30px;
          color: black;
          margin-top: 10px;
        }
      }
      .form_op
      {
        margin-top: 20px;
      }
    }
</style>
