<template>
    <div class="auth_wrap">
      <div class="title">角色权限</div>
      <div style="width: 100%;overflow: hidden;"> <div class="btn_add" @click="openEidt(null)">+ 添加</div></div>
      <div class="div_table">
        <table width="100%">
          <tr>
            <th class="col_middle">角色名称</th>
            <th class="col_short">角色描述</th>
            <th class="col_long">操作</th>
          </tr>
          <tbody class="tb_data">
          <tr v-if="dataList.length==0">
            <td colspan="3">暂无数据</td>
          </tr>
          <tr :key="index" v-for="(item,index) in dataList">
            <td>{{item.name}}</td>
            <td>{{item.reamrk}}</td>
            <td><span class="btn_op" @click="openEidt(item)">编辑</span><span class="btn_op" style="margin-left: 20px;">删除</span></td>
          </tr>
          </tbody>
        </table>
        <div class="pagination">
          <span class="txt_total">共找到<span>{{total}}</span>条记录</span>
          <!--<div slot class="pagerBtn">确定</div>-->
          <div class="div_ctrl">
            <el-pagination
              @size-change="sizeChange"
              @current-change="pageChange"
              :page-size="pageSize"
              :page-sizes="[10, 20, 50, 100]"
              layout='sizes,prev, pager, next'
              :total='total'
              :current-page.sync="currentPage">
            </el-pagination>
          </div>
        </div>
      </div>

    </div>
</template>

<script type="text/javascript">
    export default {
      name: 'rolelist',
      data() {
        return {
          pageSize: 10,
          total: 40,
          currentPage: 1,
          dataList: [],
        }
      },
      mounted() {
        this.getDataList();
      },
      methods: {
        getDataList() {
          this.dataList = [
            {
              id: 1,
              name: '数据管理员',
              reamrk: '此角色允许管理数据，包括查看、添加、删除、编辑数据等操作。',
            },
            {
              id: 2,
              name: '市级用户',
              reamrk: '此角色允许查看数据列表及详情等信息。',
            },
          ];
        },
        pageChange(val) {

        },
        sizeChange(val) {
        },
        openEidt(item) {
          if (item) {
            this.$router.push({path: '/roleedit', query: {id: item.id}})
          }
          else {
            this.$router.push({path: '/roleedit'})
          }

        },
      },
      components: {}
    }
</script>

<style lang="scss" scoped>
    .auth_wrap {
       .btn_add
       {
         float: right;
         color: #3a8ee6;
         margin-right: 10px;
         cursor: pointer;
       }
       .div_table{
         .btn_op
         {
           color: #3a8ee6;
           text-decoration: underline;
           cursor: pointer;
         }
       }
    }
</style>
