<template>
    <div id="app" ref="app" class="app">
      <router-view />
    </div>
</template>

<script>
   export default {
     name: 'app',
     data() {
       return {
         isShow: true,
       }
     },
     mounted() {
     },
     methods: {

     },
     components: {}
   }
</script>

<style lang="scss" scoped>
    .app {
      overflow-y: auto;
      width: 100%;
    }


</style>
